@import './../../../styles/mixin';
@import '../../../styles/variables';

$jumbo-message-margin: $gutter-quadruple;
$jumbo-message-width: 80vw;
$jumbo-message-gutter: $gutter-double;

.c-jumbo {
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--dark {
    color: $color-light;
    background-color: $color-accent;
    background: linear-gradient(to bottom, $color-primary 0%, $color-accent 100%);

    .c-teaserboxgrid,
    .c-teaserbox {
      border-color: $color-light-semi;
    }

  }

  .c-jumbo__logo {
    width: 100%;
    margin: $gutter-triple;
  }

  .c-jumbo__message {
    padding: $gutter-double;
    margin: auto;

    p {
      @include font(large-p);
      margin-top: $jumbo-message-gutter;
      color: $color-light-semi;
    }

    a {
      color: $color-light;
    }

  }

}