@import './../../../styles/variables';

$grid-base-cols: 12;

.c-grid {

    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
    align-items: center;

    &--align-top {
        align-items: flex-start;
    }

    [class^="c-grid__col--"] {
        padding: $gutter-default $gutter-double $gutter-default 0;
    }

    @for $i from 1 through $grid-base-cols {
        $pc: ($i / $grid-base-cols) * 100%;

        .c-grid__col--#{$i} {
            width: $pc;
            flex-basis: $pc;
        }

    }

    @each $bp in $breakpoints-map {
        $key: map-get($bp, 'key');

        @media screen and (max-width: map-get($bp, 'min')) {

            @for $i from 1 through $grid-base-cols {
                $pc: ($i / $grid-base-cols) * 100%;

                .c-grid__col__#{$key}--#{$i} {
                    width: $pc;
                    flex-basis: $pc;
                }

            }

        }
    }

}
