$color-transparency-factor: 0.3;

$color-default: #222222;
$color-accent: #144D71;
$color-primary: #003571;
$color-secondary: #071b28;
$color-success: #81BE59;
$color-light: #ffffff;
$color-dark: #000000;

$color-gray-light: #f3f3f3;
$color-gray-medium: #cccccc;
$color-gray-dark: #555555;

$color-dark-semi: rgba(0, 0, 0, $color-transparency-factor);
$color-light-semi: rgba(255, 255, 255, $color-transparency-factor);
