$gutter-default: 14px;
$gutter-half: $gutter-default / 2;
$gutter-double: $gutter-default * 2;
$gutter-triple: $gutter-default * 3;
$gutter-quadruple: $gutter-default * 4;
$gutter-ultra: $gutter-default * 6;
